<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.sidr.dark.css">
</head>
<body>
  <script type="text/x-handlebars">
    <h2>Welcome to Ember.js</h2>
        <a id="simple-menu" href="#sidr">Toggle menu</a>
    <div id="sidr">
      <!-- Your content -->
      <ul id="sidr-content">
        <li  id="item1" {{action "showItem1"}}><a href="#">Item 1</a></li>
        <li  id="item2" {{action "showItem2"}}><a href="#">Item 2</a></li>
        <li  id="item3" {{action "showItem3"}}><a href="#">Item 3</a></li>
      </ul>
    </div>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">

    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" id="item1">
    <h3>Item1</h3>
  </script>

  <script type="text/x-handlebars" id="item2">
    <h3>Item2</h3>
  </script>

  <script type="text/x-handlebars" id="item3">
    <h3>Item3</h3>
  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/jquery.sidr.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.2.0.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
